.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
      --readableMaxWidth: calc(calc(1080px*0.25)*3);
      max-width: var(--readableMaxWidth) !important;
      margin: 0 auto;
  }
}
