/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 8rem 2rem !important;
    text-align: center !important;
    position: relative !important;
    overflow: hidden !important;
}

@media screen and (min-width: 1200px) {
    .bannerCode code {
        font-size: 120% !important;
    }
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
