@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #ff7100;
    --ifm-color-primary-dark: #e66600;
    --ifm-color-primary-darker: #cc5a00;
    --ifm-color-primary-darkest: #b34f00;
    --ifm-color-primary-light: #ff7f1a;
    --ifm-color-primary-lighter: #ff8d33;
    --ifm-color-primary-lightest: #ff9c4d;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 148, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #ff7f1a;
    --ifm-color-primary-dark: #ff7100;
    --ifm-color-primary-darker: #e66600;
    --ifm-color-primary-darkest: #cc5a00;
    --ifm-color-primary-light: #ff8d33;
    --ifm-color-primary-lighter: #ff9c4d;
    --ifm-color-primary-lightest: #ffaa66;
    --docusaurus-highlighted-code-line-bg: rgba(0, 148, 0, 0.3);
}
.footer {
    @apply px-8 lg:px-16;
}

[data-theme='light'] .shiki.nord {
    display: none;
}

[data-theme='dark'] .shiki.min-light {
    display: none;
}
